@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #F2B90C, #F2E422);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #ca7a189d;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F2921D;
    text-align: center;
    text-shadow: 1px 1px 2px #8a5411af;
}

h2 {
    color: #A61F2B;
}

p {
    text-align: justify;
}